<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <style>
            body{
                background-color:black;
                opacity:0.7
            }
            .class1{
                text-align:center;
            }
            .class2{
                font-family:verdana;
                text-align:center;
                color:yellow;
            }
            .class3{
                text-decoration:none;
            }
            .class4{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <h1 class="class2">HELLO!</h1>
        <div class="class4">
            <button class="class2" type="submit"><a class="class3" href="/signup"> STUDENT SIGN UP</a></button>
            <button class="class2" type="submit"><a class="class3" href="/signin"> STUDENT SIGN IN</a></button>
        </div>
    </body>
</html>